body {
  color: #40514e;
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}
h1 {
  line-height: 2;
  color: #66bfbf;
  margin: 50px auto 0px auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625em;
}
h2 {
  font-weight: normal;
  color: #66bfbf;
  font-size: 2.5rem;
  font-family: "Montserrat Alternates", sans-serif;
  padding-bottom: 10px;
}
h3 {
  color: #11999e;
  font-family: "Montserrat Alternates", sans-serif;
}
a {
  color: #11999e;
  font-family: "Montserrat Alternates", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}
span {
  text-decoration: underline;
}
p {
  line-height: 2;
}
hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto 100px auto;
  color: grey;
}
a {
  color: #11999e;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
  /* height: 680px; */
}
.middle-container {
  margin: 100px auto 100px auto;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}

.img-1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.img-2 {
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 100%;
}

.intro {
  margin: auto auto auto auto;
  text-align: center;
  width: 30%;
}
.contact-msz {
  width: 40%;
  margin: 40px auto 60px auto;
}
.cpy-right {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.mainPic {
  border-radius: 100%;
  height: 300px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
